@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
:root{
    --primary-color:pink;
    --secondary-color:rgba(255, 51, 255, 0.205);
    --backgroud-color:#f5f5f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header{
    width: 100vw;
    height: 13vh;
    padding: 0 10%;
    background: lightblue;
    
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}

.logo-part{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo{
    display: flex;
    justify-content: flex-start;
    width: 60px;
    height: 60px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30;

}
nav ul li a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 20px;
    
}
.banner{
    display: flex;
    float: left;
    margin: 0%;
}
#portfolio{
    padding: 5px;
    border: 50px;
    color: #f5f5f5;
    background-color: blue;
    border-radius: 10px;
}
.section1{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}
.image{
    max-width: 100%;
    max-height: 100%;
}

#hello{
    color: coral;
    font-size: 90px;
}

#explore{
    text-decoration: none;
    padding: 10px;
    padding-top: 0px;
    border: 50px;
    color: #f5f5f5;
    background-color: rgb(131, 212, 138);
    border-radius: 10px;
    margin: 5px;
}

#section2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 50px;
    margin: 7px;
}

#one{
    margin: 5px;
    border: 2px solid white;
    border-radius: 5%;
}

#two{
    margin: 5px;
    border: 2px solid white;
    border-radius: 5%;
}

#three{
    margin: 5px;
    border: 2px solid white;
    border-radius: 5%;
}
#four{
    margin: 5px;
    border: 2px solid white;
    border-radius: 5%;
}
#section3{
    border: 2px solid white;
    border-radius: 50px;
    padding: 5%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h4{
    color: #cacdd2;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.social-handle{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.social-handle li{
    margin: 0 10px;
}
.footer-content .social-handle{
    color: #cacdd2;
}
.footer-content .social-handle a{
    color: #cacdd2;
    text-decoration: none;
}
